@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply bg-white rounded overflow-hidden shadow-md relative;
}
 .badge{
   @apply bg-yellow-200 text-secondary-200 font-bold text-xs rounded-full p-2 uppercase absolute top-0 ml-2 mt-4;
 }
 .btn{
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider;
 }

 